* {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: initial;
}
body{
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.overflow-x-hidden{
    overflow-x: hidden !important;
}


$azulEscuro: #1C1B3D;
$azulClaro: #4885C4;
$verde: #3FB072;
$amarelo: #E6BF22;
$laranja: #DE7E31;
$vermelho: #DD4949;
$cinza: #BEBEBC;
$cinzaClaro: #DBDBDB;
$branco: #fff;

$theme-colors: (
  "primary":    $azulEscuro,
  "secondary":  $azulClaro,
  "success":    $verde,
  "info":       $amarelo,
  "warning":    $amarelo,
  "danger":     $vermelho,
  "light":      $cinzaClaro,
  "dark":       $cinza,
  "superlight": $branco,
  "azulEscuro": $azulEscuro,
  "azulClaro":  $azulClaro,
  "verde":      $verde,
  "laranja":    $laranja,
  "amarelo":    $amarelo,
  "vermelho":   $vermelho,
  "cinzaClaro": $cinzaClaro,
  "cinza":      $cinza,
  "branco":     $branco
) !default;

@each $color, $value in $theme-colors {

    .--text-#{$color}{
        color: $value !important;
    }
    .--bg-#{$color}{
        background-color: $value !important;
    }

    .btn-#{$color} {
        background: $value;
    }

    .btn {
        transition: all .15s ease;
        &.btn-#{$color} {
            background: $value;
            border-color: $value;
            color: $branco;
            
            &:hover{
                background-color: lighten($value, 25%);
                border-color: lighten($value, 25%);
                &.outline{
                    background: $cinzaClaro;
                }
            }
            &.outline{
                border-color: $value;
                background: transparent;
                color: $value;
            }
        }
    }
}

.content{
    margin-top: 89px;
}

.title{
    font-family: 'Poppins';
    font-size: 35px;
    font-weight: 400;
}

@media (max-width: 800px){
    .title{
        font-size: 28px;
    }
}

